### This file contains all relevant variables for the installation
# You should check and adjust the values here and rename this file to "ENV"

### Vagrantfile
# Points to a local directory where all virtual disks used by the created Virtualbox images (1 per node and 1 for sharing the docker images) will be created.
# Default sizing: 8 GB for the master 8 GB per node and 10 GB for the sharing disk ... also 8 + 8 + 10 = 26 GB with NODES=1
HOST_VIRTUALBOX_DISK_DIR=/Users/Marc/vm/vagrant/disks
# Number of nodes to create in addition to the master.
NODES=1

### Provisioning
RHN_USERNAME='my-access-redat-com-account-username'
RHN_PASSWORD='my-access-redat-com-account-password'
RHN_POOL='my-RHN-pool-for-OSE-subscriptions'
ROOT_PASSWORD='toor'
IP_PREFIX='192.168.178'
DOMAIN_NAME=giraffe-cloud.com

### bootstrap_01_docker.sh 
PRE_DOWNLOAD_DOCKER_IMAGES=true
DOCKER_BACKUP_DIR=/opt/docker_backup

### bootstrap_02_master.sh
HTTP_USER='marc'
HTTP_PASSWORD='giraffe'

export HOST_VIRTUALBOX_DISK_DIR RHN_USERNAME PRE_DOWNLOAD_DOCKER_IMAGES DOCKER_BACKUP_DIR DOCKER_BACKUP_DIR HTTP_USER HTTP_PASSWORD IP_PREFIX DOMAIN_NAME NODES